body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,li,footer{ margin:0; padding:0; }

body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #fff;
}
header{
	background-color: rgba(255, 255, 255, 0.8);
	width:100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#logo{
	margin:2px 50px;
	width: 100px;
}
#logo img{
	width:100%;
	display: block;
}

nav{
    font-size:18px;
	text-transform: uppercase;
	width: auto;
	height: 100%;
}
ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	height: 100%;
	padding: 0 10px;
}
nav a{
    text-decoration: none;
    color:rgb(0, 0, 0);
	transition:font-size 300ms;
	transition: border 300ms;
	line-height: 25px;
	text-align: center;
	margin:0 10px;
	width:120px;
	border:2px solid rgba(255, 255, 255, 0);
	border-radius: 20px;
}  
nav a:hover{
	border:2px solid rgba(0, 0, 0, 1);
    font-size:22px; 
    animation-name: navanim;
    animation-duration: 300ms;
    animation-timing-function: ease-in; 
}
@keyframes navanim{
    0%{
		text-shadow:0px 0px 0px #fff;
    }
    100%{
		text-shadow:0px 0px 100px #fff;
    }
}

/******************************************/

#welcome{
	background:url(./img/background.jpg) no-repeat center center;
	height:100vh;
	background-size:cover;
    background-attachment:fixed;
	background-color:#CCCCCC;
	font-size: 48px;
	color:rgb(151, 0, 0);
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	height:100vh;
	display: flex;
	-ms-display:flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}
#welcome span{
	font-size: 56px;
	color: rgb(255, 255, 255);
}
#welcome h1{
	font-size:36px;
}
#about{
	background-color: gainsboro;
	font-size: 1em;
	height:auto;
	display:flex;
	-ms-display:flex;
	flex-flow:row nowrap;
	justify-content: space-between;
	align-items: center;
	
}
#about-text{
	text-align: justify;
	margin: 10px;
	flex:auto;
	
}
#about-text h1{
	font-size: 2em;
}
#about-img{
	flex:auto;
	
}
#about-img img{
	display: block;
	width: auto;
}
/**************************************************************/

#product-title{
	height: auto;
	background-color: gainsboro;
	font-size: 2em;
	text-transform: capitalize;
	text-align: center;
	padding:30px 0;
}

/***************************************************************/

#product{
	background-color: gainsboro;
	display:flex;
	-ms-display:flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	font-size: 1em;
}
.service{
	text-align: center;
	border:1px solid black;
	height:auto;
	margin:20px 20px;
}
.service h4{
	font-size: 1.3em;
	text-transform: uppercase;
	margin:20px 0;
}
.service img{
	width: 100%;
}
.service p{
	margin:10px 0;
	line-height: 30px;
	
}
.service span{
	text-transform: uppercase;
	border-radius: 10px;
	background-color:  rgb(124, 124, 124); 
	color:white;
	margin:0 5px;
	padding:0 10px;
}

/**************************************************************/

#footer{
	background-color: rgba(23, 12, 18, 0.9);
	text-align: center;
	font-size:18px;
	color:white;
	padding:10px;
}
table{
	margin:auto;
}
.bottom-line{
    letter-spacing: -2px;
    color: #ddd;
}

/**************************************************************/

@media (max-width:768px){
	#about-img{
		display:none;
	}
	#product{
		display:flex;
		-ms-display:flex;
		flex-flow: column nowrap;
		align-items: center;
	}

	header{
		display: flex;
		-ms-display:flex;
		flex-flow: column nowrap;
		position:static;
	}
}